@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 101 
    &__logo
      width: 120px
    &__wrapper
      &_mobile
        display: none
        position: fixed
        flex-direction: column
        justify-content: start
        top: 40px
        left: 0
        right: 0
        bottom: -100px
        background-color: $dark
        overflow-y: scroll
        z-index: 99
        &_light
          background-color: #fff
        &_visible
          display: flex
    &-nav
      &__ul
        &_mobile
          &_hidden
            display: none
          &_visible
            display: flex
            flex-direction: column
      &__item
        margin-left: 0
        margin-bottom: 15px
        &:last-child
          margin-bottom: 120px
        &_mobile
          &_visible
            margin-top: 20px
            margin-bottom: 15px
            display: flex
      &__search
        &_mobile
          &_hidden
            display: none
      
  .menu
    &-button
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      padding: 0
      border: none
      background-color: $dark
      cursor: pointer
      outline: none
      &_light
        background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color-light
        &_light
          background-color: $dark
  .main-info
    margin-top: -1px
    &__wrapper
      top: 70px
      flex-direction: column
      max-width: 576px
      width: 92%
    &__left
      padding-top: 20px
      padding-left: 20px
      padding-bottom: 35px
      width: 100%
    &__text
      &-block
        margin-top: 40px
    &__right
      max-width: 100%
      order: -1
    &__recommend
      position: relative
      &-title
        text-align: center
    &__tabs
      width: 1200px
      display: flex
      &-wrapper
        overflow: scroll
        &::-webkit-scrollbar
          display: none
    &__tab
      display: flex
      flex-wrap: wrap
      width: 240px
      padding: 17px 10px 19px 10px
      border-right: 1px solid #D9DADB
  .articles
    &-grid
      grid-template-columns: repeat(auto-fill, 100%)
      grid-template-rows: repeat(9, 180px)
      grid-row-gap: 30px
    &__card
      &_dreamwork
        grid-column: 1/2  
      &_web-design
        grid-column: 1/2
        grid-row: 3/5
      &_tools
        grid-column: 1/2
        grid-row: 5/7
      &_download
        grid-column: 1/2
        grid-row: 7/8
      &_tags
        grid-column: 1/2  
        grid-row: 8/9
      &_social
        grid-column: 1/2
        grid-row: 9/10
  .dreamwork
    &__text
      max-width: 340px
      &::after
        width: 100%
    &__description
      margin-bottom: 120px
  .web-design
    padding-left: 25px
    padding-bottom: 30px
    &__text
      margin-top: 240px
  .tools
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    &__image
      height: 300px
      margin-top: -20px
    &__title
      padding: 5px 20px 5px 20px
      margin: 0
      max-width: 400px
  .download
    display: flex
    flex-direction: column
    justify-content: space-between
    &::after
      width: 100%
    &__text
      max-width: 300px
  .tags
    &__group
      overflow-y: auto
  .other-article
    display: none
  .promo
    &-wrapper
      max-width: 568px
    &__title
      font-size: 22px
  .news
    &__card
      flex-direction: column
      &-image
        width: 336px
        height: 195px
        margin-bottom: 15px
  .other-articles
    &__card
      &_small
        max-width: 576px
        margin-bottom: 30px
        &:last-child
          margin-bottom: 0
  .footer
    &-grid
      grid-template-columns: 1fr
      &__wrapper
        width: 145px
        &:last-child
          width: 145px
          max-width: 145px
        &:nth-child(2)
          width: 145px
        &:nth-last-child(2)
          width: 145px
      &__title
        margin-top: 15px
      &__item
        &:last-child
          margin-bottom: 15px
    &__title
      font-size: 30px
    &__input
      width: 210px
    &-links
      flex-wrap: wrap
      &__ul
        margin-left: auto
        margin-right: 0
      &__social
        margin: auto
        margin-top: 30px
    &-bottom
      flex-wrap: wrap
      justify-content: center
      &__description
        text-align: center
        margin-bottom: 15px
  .main-display
    padding-top: 105px
    &__container
      max-width: 550px
      width: 90%
    &__flag
      left: 90%
    &__title
      font-size: 30px
      line-height: 30px
    &__description
      font-size: 16px
      line-height: 20px
