.more-cards
  background-color: #F5F5F5
  padding-top: 60px
  padding-bottom: 84px
  &__wrapper
    display: flex
    justify-content: space-between
  &__card
    position: relative
    flex-basis: 23%
    border-radius: 10px
    z-index: 1
    // &::after
    //   display: none
    //   position: absolute
    //   top: 0
    //   left: 0
    //   right: 0
    //   bottom: 0
    //   content: ''
    //   background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35))
    //   z-index: 99
    // &:hover
    //   &::after
    //     display: block
  &__hover
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    
    text-transform: uppercase
    transition: all 1s ease
    background: linear-gradient(0deg, rgba(64, 48, 61, 0.85), rgba(64, 48, 61, 0.85))
    border-radius: 10px
    opacity: 0
    z-index: 101
    &:hover
      opacity: 1
    &-link
      color: #ffffff
      text-decoration: none
  &__img
    width: 263px
    height: 180px
    object-fit: cover
    border-radius: 10px
  &__title
    max-width: 263px
    margin-top: 12px
    margin-bottom: 15px
    font-family: 'Roboto Slab', serif
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 25px
    color: $title-color-dark
  &__link
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 99
  &__icon
    &-link
      z-index: 100
      margin-right: 5px
      color: #BCBFC2
      &:hover
        color: $primary
  &__bottom
    position: relative
    display: flex
    z-index: 999
    &-icon
      margin-right: 5px
      width: 15px
      height: 15px
    &-numbers
      margin-right: 10px
